.root{
    -fx-background-color: BLACK;
}

.rectangle{
    -fx-fill: WHITE;
}

.button {
    -fx-background-color: BLACK;
    -fx-border-radius: 12px;
    -fx-border-color: WHITE;
    -fx-text-fill: WHITE;
    -fx-text-align: center;
    -fx-font-size: 40px;
}

.texto{
    -fx-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-stroke-width: 5px;
    -fx-font-size: 50px;
    -fx-font-family: Verdana;
}

#error{
    -fx-text-fill: RED;
    -fx-stroke: BLACK;
    -fx-stroke-width: 2px;
}

#cancelar{
    -fx-font-size: 14px;
}

#controle{
    -fx-background-color: BLACK;
    -fx-border-color: BLACK;
}