.root{
    -fx-background-color: BLACK;
}

.label{
    -fx-alignment: center;
    -fx-font-family: Verdana;
}

.button {
    -fx-background-color: BLACK;
    -fx-border-radius: 12px;
    -fx-border-color: WHITE;
    -fx-text-fill: WHITE;
    -fx-text-align: center;
    -fx-font-size: 40px;
}

#Title{
    -fx-text-fill: WHITE;
}
